@charset "UTF-8";

.post-container{
    font-family: 'Open Sans';
    width: 70%;
    margin: auto;
}

.date{
    font-family: 'Roboto';
    color: #008080;
}

.post{
    background-color: #fffafa;
    padding: 20px;
}

h1{
    font-family: 'Montserrat';
}

