<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título</title>
</head>
<body>
  <h1><%= title  %></h1>
  <p><%= message  %></p>
  <% if (1 === 1 ) { %>
    <p>Verdadeiro</p>
  <% } else { %>
    <p>Falso</p>
  <% } %>
</body>
</html>